/* Globals */

$border-radius: 5px;
$margin-full-normal: 15px;
$margin-full-larger: 20px;
$box-shadow: 3px 3px 3px black;

/*  Theming  */

$themes: (
  dark: (
    "text-color": hsl(0, 0%, 100%),
    "bg-color": hsl(207, 26%, 17%),
    "element-color": hsl(209, 23%, 22%),
  ),
  light: (
    "text-color": hsl(200, 15%, 8%),
    "bg-color": hsl(0, 0%, 98%),
    "element-color": hsl(0, 0%, 100%),
    "input-text-color": hsl(0, 0%, 52%),
  ),
);

$theme-map: null;

@mixin theme() {
  @each $theme, $map in $themes {
    $theme-map: $map !global;
    .#{$theme} & {
      @content;
    }
  }
  $theme-map: null !global;
}

@function theme-get($key) {
  @return map-get($theme-map, $key);
}

/*  Theming end   */

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexSpaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flexSpaceEvenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
