@import "../styles/globals";

.header {
  @include flexSpaceBetween;
  @include theme() {
    background-color: theme-get("element-color");
    color: theme-get("text-color");
  }
  padding: 0 25px;
}

.darkmode_button {
  @include flexCenter;
  height: 30px;
  margin: 15px;
}
.icon {
  width: 20px;
  height: 20px;
  margin: 0 10px 0 0;
}

.header_text {
  margin: 15px;
}
