@import "../styles//globals";

.border_button {
  margin: 10px 30px;
  width: 120px;
  height: 40px;
  box-shadow: $box-shadow;
  @include theme() {
    background-color: theme-get("element-color");
    color: theme-get("text-color");
  }
  border-radius: $border-radius;
}
