@import "../styles/globals";

.button {
  width: 120px;
  height: 40px;
  margin: 30px 7vw;
  box-shadow: $box-shadow;
  @include theme() {
    background-color: theme-get("element-color");
    color: theme-get("text-color");
  }
  border-radius: $border-radius;
}

.content_parent {
  @include flexSpaceBetween;
  flex-wrap: wrap;
  padding: 0 7vw;
}

.stats_wrapper {
  @include flexCenter;
  flex-wrap: wrap;
  justify-content: left;
}

.flag_img {
  padding: 30px 0;
  width: 500px;
  height: 350px;
  @media (max-width: 580px) {
    width: 80vw;
    height: 50vw;
  }
  border-radius: $border-radius;
}

.border_buttons_parent {
  width: 600px;
  @media (max-width: 580px) {
    width: 300px;
    @include flexCenter;
    flex-wrap: wrap;
  }
}

.main_stats {
  padding: 0 30px 0 0;
}
