@import "../styles//globals";

.country_parent {
  width: 300px;
  margin: $margin-full-larger;
  height: 360px;
  border-radius: $border-radius;
  @include theme() {
    background-color: theme-get("element-color");
  }
}
.country_data {
  margin: $margin-full-normal;
}

.flag_icon {
  width: 300px;
  height: 180px;
  border-radius: $border-radius;
}
