@import "../styles/globals";

.darkmode_button {
  border-style: none;
  outline-style: none;
  @include theme() {
    background-color: theme-get("element-color");
    color: theme-get("text-color");
  }
}
