@import "../styles//globals";

.region_filter {
  height: 40px;
  margin: 15px 0;
  padding: 5px;
  border-radius: $border-radius;
  @include theme() {
    background-color: theme-get("element-color");
    color: theme-get("text-color");
  }
  box-shadow: $box-shadow;
}
