@import "../styles//globals";

.search_div {
  @include flexCenter;
  margin: 15px 0;
  @include theme() {
    background-color: theme-get("element-color");
    color: theme-get("text-color");
  }
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}

.search_icon {
  width: 30px;
  height: 30px;
  margin: 5px;
}

.search_bar {
  width: 300px;
  height: 30px;
  border: none;
  &:focus {
    outline: none;
  }
  @include theme() {
    background-color: theme-get("element-color");
    color: theme-get("text-color");
  }
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  @include theme() {
    color: theme-get("text-color");
  }
}
::-moz-placeholder {
  /* Firefox 19+ */
  @include theme() {
    color: theme-get("text-color");
  }
}
:-ms-input-placeholder {
  /* IE 10+ */
  @include theme() {
    color: theme-get("text-color");
  }
}
:-moz-placeholder {
  /* Firefox 18- */
  @include theme() {
    color: theme-get("text-color");
  }
}
