@import "./styles//globals";

.App {
  height: 100vh;
  @include theme() {
    background-color: theme-get("bg-color");
    color: theme-get("text-color");
  }
  justify-content: center;
  align-items: center;
}

.main {
  @include theme() {
    background-color: theme-get("bg-color");
    color: theme-get("text-color");
  }
}
